/* styles.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
}

header {
  background-color: #0077cc;
  color: white;
  padding: 1rem 2rem;
}

header h1 {
  margin-bottom: 0.5rem;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  padding-left: 0;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

main {
  padding: 2rem;
  background-color: white;
  max-width: 1000px;
  margin: 2rem auto;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

section h2 {
  margin-bottom: 1rem;
  color: #0077cc;
}

footer {
  text-align: center;
  padding: 1rem;
  background-color: #333;
  color: white;
  margin-top: 2rem;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer p {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gradient-text {
      background: linear-gradient(to right, #EC6231, #2965f1, #F0DB4F);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      margin-right: 10px;
    }

footer p img {
  height: 50px;
  mix-blend-mode: multiply;
  z-index: 1;
}

button {
  appearance: button;
  backface-visibility: hidden;
  background-color: #0077cc;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .1) 0 2px 5px 0, rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Ubuntu, sans-serif;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s, box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100px;
}

.button-9:disabled {
  cursor: default;
}

.button-9:focus {
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}